/* Reset */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General definitions */

/* color themes */
:root {
  --font-color-lightest: hsl(50 20% 40%);
  --font-color-lighter: hsl(50 20% 30%);
  --font-color: hsl(50 20% 20%);
  --font-color-darker: hsl(50 20% 10%);

  --font-color-accent: hsl(20 60% 50%);

  --background-color-dark: hsl(80 10% 50%);
  --background-color-light: hsl(0 0% 90%);
  --background-color-lightest: white;

  --background-color-card: hsl(220 10% 95%);
}

html {
  height: 100%;
  line-height: 1.5;
}

body {
  height: 100%;
  font-family: sans-serif;
  font-size: 1em;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  margin: 0 0 1em 0;
  text-align: justify;
  color: var(--font-color-darker);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family: monospace;
}

h1 {
  font-size: 2.5em;
  color: var(--font-color-lightest);
}

h2 {
  font-size: 2.3em;
  color: var(--font-color-lighter);
}

h3 {
  font-size: 1.9em;
}

h3,
h4 {
  color: var(--font-color);
}

li a {
  font-weight: bold;
  font-family: "Lucida Console", monospace;
}

.a__disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: line-through;
}

em {
  font-style: italic;
}

.centered-vertical {
  text-align: center;
}

.margin-top {
  margin-top: 2em;
}

ul {
  margin: 1em;
}

li {
  list-style-position: outside;
  margin: 0.5em 0 0 1.5em;
}

/* Images */

img {
  border: 2px solid #ddd;
}

@media screen and (max-width: 600px) {
  img {
    max-width: 100%;
  }

  .img-focused {
    max-width: 95vw;
    max-height: 95vh;
  }
}
